@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #0D9488;
  --color-dark: #0F172A;
  --color-neutral: #64748B;

  /* Statuts */
  --color-status-en-cours: #0D9488;
  --color-status-entretien: #3B82F6;
  --color-status-refus: #EF4444;
  --color-status-accepte: #22C55E;
  --color-status-pas-de-reponse: #94A3B8;
}